@import './slick';
@import './slick-theme';

@font-face {
  font-family: MarketSans-Bold;
  src: url('./fonts/MarketSans-Bold-WebXL.eot') format('eot'),
    url('./fonts/MarketSans-Bold-WebXL.svg') format('svg'),
    url('./fonts/MarketSans-Bold-WebXL.ttf') format('ttf'),
    url('./fonts/MarketSans-Bold-WebXL.woff') format('woff'),
    url('./fonts/MarketSans-Bold-WebXL.woff2') format('woff2');
}
@font-face {
  font-family: MarketSans-Regular;
  src: url('./fonts/MarketSans-Regular-WebXL.eot') format('eot'),
    url('./fonts/MarketSans-Regular-WebXL.svg') format('svg'),
    url('./fonts/MarketSans-Regular-WebXL.ttf') format('ttf'),
    url('./fonts/MarketSans-Regular-WebXL.woff') format('woff'),
    url('./fonts/MarketSans-Regular-WebXL.woff2') format('woff2');
}

:root {
  font-size: 12pt;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  >li {
    flex: 1;
    :hover {
      background-color: #efefef;
    }
    >a {
      font-size: 1rem;
      text-align: center;
      padding: 2em 0;
      font-family: MarketSans-Regular;
      color: #4a4a4a;
      &:active,
      &:focus,
      &:active {
        font-family: MarketSans-Bold;
      }
    }
  }
}

footer {
  padding: .5em 0;
  >p {
    color: #fff;
    text-align: center;
    margin: 0;
  }
  background-color: #0c1f69;
}

.logos {
  text-align: center;
  img {
    width: 100px;
    display: inline-block;
  }
}